.header {
  margin: 28px auto 56px;
  max-width: 1184px;
  min-width: 288px;
  height: 52px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

@media (max-width:1279px) {
  .header {
    margin: 28px 48px 48px;
  }
}

@media (max-width:1023px) {
  .header {
    margin: 28px 24px 48px;
  }
}

@media (max-width:767px) {
  .header {
    margin: 16px 16px 48px;
    height: 42px;
  }
}