.header {
  margin: 28px auto 56px;
  max-width: 1184px;
  min-width: 288px;
  min-height: 52px;
  display: flex;
  justify-content: space-around;
}

@media (max-width:1279px) {
  .header {
    margin: 28px 48px 48px;
  }
}

@media (max-width:1023px) {
  .header {
    margin: 28px 24px 48px;
  }
}

@media (max-width:767px) {
  .header {
    margin: 16px 16px 48px;
    min-height: 42px;
  }
}