.place__paragraphs {
  margin: 0 0 0 0;
  grid-column: 2;
  grid-row: 2;
}

@media (max-width:1279px) {
  .place__paragraphs {}
}

@media (max-width:1023px) {
  .place__paragraphs {}
}

@media (max-width:767px) {
  .place__paragraphs {
    grid-column: 1;
    grid-row: 4;
    margin: 0 16px 0;
  }
}