.cover {
  margin: 92px auto 0;
  max-width: 1184px;
  height: 740px;
  display: grid;
  grid-template-columns: 1fr 560px 1fr;
  grid-template-rows: 1fr 152px 98px 1fr;
}

@media (max-width:1279px) {
  .cover {
    max-width: 1024px;
    height: 640px;
  }
}

@media (max-width:1023px) {
  .cover {
    margin: 90px auto 0;
    max-width: 768px;
    height: 480px;
  }
}

@media (max-width:767px) {
  .cover {
    margin: 66px auto 0;
    width: 320px;
    height: 200px;
    grid-template-columns: 1fr 288px 1fr;
    grid-template-rows: 1fr 70px 64px 1fr;
  }
}