.cover__title {
  grid-row: 2;
  grid-column: 2;
  margin: 0;
  z-index: 10;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 72px;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

@media (max-width:767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}