.place {
  margin: 0 0 80px;
  width: 100%;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
  gap: 40px;
}

.place:last-of-type {
  margin: 0 0 0;
}