.intro__title {
  margin: 0;
  width: 100%;
  font-family: inter;
  font-weight: 900;
  font-style: normal;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

@media (max-width:1279px) {
  .intro__title {}
}

@media (max-width:1023px) {
  .intro__title {}
}

@media (max-width:767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}